h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
    color: white;
    margin: 20px;
}

#sidebarCollapse {
    z-index: 1;
}

#featuredCarousel {
    background-color: lightblue;
    /*    width: 100%;*/
    min-width: 768px;
    height: 400px;
}

.carousel-inner .item img {
    width: 1600px;
    height: 400px;
}

.about h2,
p {
    margin: 20px auto;
    width: 768px;
}

.MovieCard {
    margin: 0;

}

.MovieCard img {
    width: 100%;
    border-radius: 10%;
    margin: 0;
    padding: 0;
}
