body {
    font: 'Montserrat', sans-serif;
    background: #4b6cb7;  /* fallback */
    background: linear-gradient(to left, #5c6d95, #272f59); 
}

h1, h2, h3, h4, h5, p{
    color: white;
}

h3{
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus, a:active {
    background-color: #6b77a1;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}





#input_img {
    position:inherit;
    left:200px;
    width:4%;
    height:auto;
}


#login input{
  width: 300px;
  height: 40px;  
background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: 0 0 3px #ffffff, 0 10px 15px #cdcdcd inset;
    position: relative;
  color: black;
  font-size: 16px;
  text-indent: 50px;
  margin-bottom: 5%;

}

#input_img{
    position: inherit;
    left: 200px;
    width: 4%;
    height: auto;
}


#password input{
   width: 300px;
  height: 40px;  
background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: 0 0 3px #ffffff, 0 10px 15px #cdcdcd inset;
    position: relative;
  color: black;
  font-size: 16px;
    text-indent: 30px; 
    background-image: url(../img/lock%20copy.png);
    
}




button{
   
   width: 150px;
  height: 50px; 
  background: #999999;
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: 0 0 3px #ffffff, 0 10px 15px #cdcdcd inset;
    color: #ffffff;
    object-position: center;
    margin-top: 10%;
    font-size: 18px;
 
}



/* Mikes CSS */ 


.left-side{
    height: 100vh;
    background-color: ;
    text-align: center;
    
}

.left-side {
    
}



.right-side{
    height: 100vh;
    background-color: blue;
}
.right-side img{
    height: 100vh;
    
}


.logo-holder{
    width: 230px;
    height: 120px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: url(../img/LOGO%20DEV.gif);
  
}

img{
    height: auto;
    width: 100%;
   
}




